<div class="container">
    <div class="row">
      <div class="col-sm">
  
  <h1 class="d-flex justify-content-center"> Welcome to <%= data.fullName  %></h1>
  <div class="d-flex justify-content-center"><img src="<%= data.images[0].url %>" alt="image of <%= data.fullname %>" style="height: 300px; width: auto;"></div> <br>
  
  
  
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  Description      </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p> <%= data.description  %></p>
  
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
  Activities      </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <% data.activities.forEach(activity => { %>
            <p> <%= activity.name %> </p>
            <% })  %> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
  Weather Information      </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <%= data.weatherInfo %>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  
  <p>More information: <a href=" <%= data.url %>"><%= data.url %></a></p>
  
  </div>
  </div>
  </div>